/* Universal Styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body {
  font-size: 16px;
  color: gray;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
ul li {
  font-size: 0.75rem;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
header, main, footer {
  width: 96%;
  margin: 0 1rem;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header*/
header {
  height: 12.5rem;
}
nav {
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%;
}
nav a {
  color: white;
  font-size: 1.35rem;
  padding: 0 1rem;
}
nav a:hover {
  text-decoration: none;
}
.flex-banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 2;
  flex-wrap: wrap;
}

/* Main */
#about h2 {
  margin-top: 3rem;
}
h2, h3 {
  margin: 1rem 0;
  text-align: center;
}
#coffee-products {
  display: flex;
  justify-content: space-evenly; 
  flex-wrap: wrap;
}
.product {
  width: 30%;
  border: 0.1rem solid gray;
  padding-bottom: 1.5rem;
}
.product img {
  width: 50%;
  margin: 0 auto;
}

/* Books */
#books {
  text-align: center;
}
#books li {
  list-style: none;
}

/* Team */
#team {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team-member {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: auto;
  margin: 1rem 0;
  padding: 1rem;
  border: 0.1rem solid gray;
  border-radius: 0.3rem;
}
.team-img-container {
  width: 45%;
}
.team-role {
  width: 45%;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-role p {
  font-size: 0.75rem;
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
}
footer p {
  margin: 1rem 0;
}